.button
  padding: 10px 24px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.93rem
  &:hover
    cursor: pointer
    background-color: #9b910a
    border: none
    
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2s)
    transition: box-shadow 0.3s
  &:hover
      box-shadow: none
  &--outline 
    border: 1px solid $light
    color: $light
    background-color: transparent
    box-shadow: 0px 5px 15px rgba($light, 0.2s)
  &:hover 
      border: 1px solid $light
    