@media screen and ( max-width: 2000px )
  .types
    .card
      &__pricetag
        margin-bottom: 2rem
  .design
    .card
      &__pricetag
        margin-bottom: -0.5rem    
  
@media screen and ( max-width: 1400px )
  .nav 
    &__item 
      margin-right: 1rem
  .types
    .card
      &__pricetag
        margin-bottom: 1.8rem
  .design
  .card
    &__pricetag
      margin-bottom: -0.5rem    
  
@media screen and ( max-width: 1200px )
  html 
    font-size: 12px
  .nav 
     &__item 
       margin-right: 1rem
  .contacts 
     &__button 
       margin-left: 1rem
     &__phone
       margin-right: 1rem 
  .design
  .card
    &__pricetag
      margin-bottom: -0.5rem
  .button 
    &--outline 
      width: 190px
      height: 50px
@media screen and ( max-width: 992px ) 
  .nav 
     display: none
  .hero 
     &__instagram 
       display: none
     &__content 
       margin-left: 0 
  .contacts 
     &__phone
        margin-right: 4rem
  .swiper
    &-slide 
      &__text
        flex-basis: 50%
  .card
    &__pricetag
      margin-bottom: -0.5rem
  .footer     
    &__map 
      max-width: 825px
      margin: 0 auto
@media screen and ( max-width: 760px )
  .mobile-order-top
     order: -1
  .row 
    flex-direction: column
    align-items: center
  .types 
    &__card 
      margin-bottom: 5rem      
  .card 
    &__text 
      margin-left: 0
    .design 
      background-color: $light
    &__section-title 
      color: $light
      
    &__card 
      margin-bottom: 5.7rem    
@media screen and ( min-width: 760px )
  .design
    background-color: $light
    &__section-title
     margin-bottom: 2.78rem
     color: $dark
     font-size: 1rem
    &__card
     margin-bottom: 5.7rem
  .section-title
    &__description
     font-size: 1.5rem
     max-width: 54.6rem
     margin-bottom: 2rem
  .row
    flex-direction: row
    justify-content: space-between
  .card
    flex-basis: 32%   
@media screen and ( max-width: 768px )
   .contacts 
     &__button 
       display: none
     &__phone
      margin-right: 0
   .swiper
    &-slide 
      &__text
        flex-basis: 50%   
   .design
   .card
     &__image
      margin-top: 3rem
     &__pricetag
      padding: 1rem 2rem
      margin-bottom: 1.5rem
   .footer__wrap 
     margin-top: 0   
   .footer     
     &__map 
      max-width: 100%
      margin: 0 auto
   .swiper
     &-slider
       &-image 
         margin-top: 0    
@media screen and ( max-width: 576px )
   .section 
     &__title 
      &__description 
        max-width: 21.86rem
   .contacts
     &__phone 
       margin-right: 0
       color: $light 
       text-decoration: none
     &__button 
       display: none
     
   .title 
       font-size: 1.64rem 
   .hero
     &__scroll-down
       display: none 
   .hero
     &__text
       font-size: 1.29rem
       margin-bottom: 2.28rem
     &__button 
      display: block
      min-width: 25rem
      margin-bottom: 1.85rem
   .projects
     padding-top: 10px
     .col
       &-50 
         width: 100%
     .section-title
       &__heading 
         font-size: 22px
         font-weight: 400
         line-height: 138.6%
         letter-spacing: -0.07em
         text-align: center
       &__word 
         font-size: 22px
         font-weight: 400
         line-height: 138.6%
         letter-spacing: -0.07em
         padding-bottom: 10px
         justify-content: center
         &::after
           display: none
       &__text 
         text-align: center
         font-size: 1rem
         
         padding-bottom: 40px
         margin: auto
   .swiper
     &-slide
      text-align: center
     &-button-prev 
       margin-left: 150px
     &-button-next 
       margin-left: 150px     
   .swiper-container-horizontal>.swiper-pagination-bullets 
      margin-left: 155px

   .control 
     background-color: $dark
     .section-title 
     &__heading 
        color: $light  
     &__text 
       color: $light 
     &__label 
       color: $secondary
     &__form 
       flex-direction: column
     &__input 
       margin-bottom: 1rem 
       &::placeholder
          color: $light
     &__button 
        max-width: 40rem 
        order: 1
        margin-top: 30px
     &__policy
        &-label 
          color: $light
          margin-right: 240px
          margin-top: -30px
          margin-bottom: 30px
   .types
     .card__pricetag
       margin-bottom: 2rem
       padding: 1rem 2rem
     .card__text
       margin-left: 1px
   .design    
     .card
       &__text
        margin-top: -13rem
        margin-bottom: 2rem
       &__pricetag
        margin-left: 5px
        padding: 1rem 4rem
        margin-bottom: -0.1rem
   .footer 
     background: none
     font-size: 20px
   .footer 
     background-color: $dark
          
   .footer__button 
      min-width: 25rem
   .footer__wrap 
     margin-top: 0
     background: transparent
   .footer__map 
     order: -1
   .footer__info 
     margin-top: 40px
     font-size: 18px
   
   .footer__menu 
     display: none
   .footer 
     &__input
      padding-top: 0.3rem
      &-group 
        display: flex
        flex-direction: column
        flex-basis: 100%
        margin-bottom: 3.2rem 
   .policy__label 
     &--center 
       margin-right: 210px
   
          
       

@media screen and ( max-width: 320px )
   .hero 
     &__button 
      display: block
      min-width: 22rem
     &__content
       margin-left: -2px
     .title 
       margin-bottom: 1rem
       margin: 0
       font-family: 'Yeseva One', cursive
       text-transform: uppercase
       font-size: 23px
       line-height: 132.83%
       font-weight: normal
       &--primary
        color: $primary
     .section-title
       &__heading 
          font-size: 20px
          font-weight: 400 
       &__word 
          // margin-left: 80px
          font-size: 20px  
       &__text
          text-align: center 
          font-size: 14px
          // margin-left: -10px
     .swiper
       &-slide
        text-align: center
       &-button-prev 
        margin-left: 40px
       &-button-next 
        margin-left: 40px     
     .swiper-container-horizontal>.swiper-pagination-bullets 
      margin-left: 40px
   .control 
     &__button 
        max-width: 22rem  
     &__policy
        &-label 
          color: $light
          margin-right: 25px   
   .types    
     .card
       &__text
        margin-top: -8rem
        margin-bottom: 2rem
        padding: 1rem 1rem
        width: 75%
        margin-left: 5px
       &__pricetag
         padding: 1rem 1rem
         margin-bottom: 1.6rem 
   .design
      .card
        &__text
          width: 75%
        &__pricetag
          padding: 1rem 
    
   .modal__button 
     max-width: 19rem  
   .policy__label 
     &--center 
        margin-right: 20px 
   .footer__button 
     min-width: 20rem 
     
   .footer 
     &__wrap 
       padding: 0 
    
     

@media screen and ( max-height: 520px )
   .hero 
     &__scroll-down
       display: none
