@media screen and ( max-width: 1400px )
  .nav 
    &__item 
      margin-right: 1rem
  
@media screen and ( max-width: 1200px )
  html 
    font-size: 12px
  .nav 
     &__item 
       margin-right: 1rem
  .contacts 
     &__button 
       margin-left: 1rem
     &__phone
       margin-right: 1rem       
@media screen and ( max-width: 992px ) 
  .nav 
     display: none
  .hero 
     &__instagram 
       display: none
     &__content 
       margin-left: 0 
  .contacts 
     &__phone
        margin-right: 4rem  
@media screen and ( max-width: 760px )
  .row 
    flex-direction: column
    align-items: center
  .types 
    &__card 
      margin-bottom: 5rem      
  .card 
    &__text 
      margin-left: 0
    .design 
      background-color: $dark
    &__section-title 
      color: $light
      
    &__card 
      margin-bottom: 5.7rem    
   
@media screen and ( max-width: 768px )
   .contacts 
     &__button 
       display: none
     &__phone
       margin-right: 0    
@media screen and ( max-width: 576px )
   .section 
     &__title 
      &__description 
        max-width: 21.86rem
   .contacts
     &__phone 
       margin-right: 0
       color: $light 
       text-decoration: none
     &__button 
       display: none 
   .title 
       font-size: 1.64rem 
   .hero
     &__scroll-down
       display: none 
     &__content 
       max-width: 22.86rem   
   .hero
     &__text
       font-size: 1.29rem
       margin-bottom: 2.28rem
     &__button 
       display: block
       min-width: 22.86rem
       margin-bottom: 1.85rem  
@media screen and ( max-width: 320px )
   .hero 
     &__button 
       display: block
       min-width: 20rem      
@media screen and ( max-height: 520px )
   .hero 
     &__scroll-down
       display: none
